# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.bundle/
dist/
build/
develop-eggs/
.eggs/
sdist/
wheel/
*.egg-info/
*.egg

# IDE / Editor specific files
.idea/
.vscode/
*.swp
